.gradient {
  background-color: #ff6ad5;
  background-image: linear-gradient(
    to right,
    #ff6ad5,
    #c774e8,
    #ad8cff,
    #8795e8,
    #94d0ff
  );
  height: 10px;
  width: 100%;
}

.layout {
  margin: 0 auto;
  padding: 2rem;
  max-width: 600px;
}

.layout h1 {
  margin: 1rem 0 3rem;
  text-align: center;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.navigation a {
  margin-right: 10px;
  color: #8795e8;
}

.navigation a:hover {
  color: #c774e8;
}

.navigation a:last-child {
  margin-right: 0;
}
