.layout {
  margin: 3rem auto;
  max-width: 600px;
}

.layout h1 {
  margin: 1rem 0 3rem;
  text-align: center;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.navigation a {
  margin-right: 10px;
}

.navigation a:last-child {
  margin-right: 0;
}
