.gradient {
  position: fixed;
  background-color: #ff6ad5;
  background-image: linear-gradient(
    to right,
    #ff6ad5,
    #c774e8,
    #ad8cff,
    #8795e8,
    #94d0ff
  );
  height: 10px;
  width: 100%;
}

.layout {
  padding: 2rem;
}

.body {
  margin: 0 auto;
  max-width: 600px;
}

.layout h1 {
  margin: 1rem 0 3rem;
  text-align: center;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.title {
  position: fixed;
  text-decoration: none;
}

.layout a {
  color: #8795e8;
}

.layout a:hover {
  color: #c774e8;
}

.navigation {
  position: fixed;
  right: 2rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.navigation a {
  margin-bottom: 0.5rem;
}

@media (max-width: 1000px) {
  .title,
  .navigation {
    position: inherit;
  }
  .navigation {
    flex-direction: row;
    right: auto;
  }
  .navigation a {
    margin-right: 1rem;
  }
  .navigation a:last-child {
    margin-right: 0;
  }
  .header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
